body {
    background-color: bisque;
}
h1 {
text-align: center;
display: block;
font-size: 2em;
font-weight: bold;
}

P {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    padding-bottom: 30px;
    margin: 30px auto;
    border-radius: 15px;
}

footer {
    text-align: center;
    margin: 15px;
    display: block;
    
}
footer a{
    margin: 0 10px;
    color: palevioletred;
}
